.api_container
  = form_for @show, url: {action: "create"}, html: {method: "post"} do |f|
    = f.label "Name: "
    = f.text_field :name
    %br
    %br
    = f.label "TVDB ID: "
    = f.text_field :tvdbId
    %br
    %br
    = f.submit "Add Show"