.landing_page
  #col1
    = image_tag("logo.png", id: "logo")
    %h1 TV TODAY
    %h2 os x extension

    .tag You tell us what.
    .tag We'll tell you when.

    %a{:href => "#", :id => "app_store_button"} install on the app store

  #col2
    = image_tag("preview_search.jpg", class: "preview")
    = image_tag("preview_edit.jpg", class: "preview")
    = image_tag("preview_today.jpg", class: "preview")
    = image_tag("preview_today_detailed.jpg", class: "preview")

  #footer
    Follow 
    %a{:href => "http://twitter.com/TVTodayWidget"}@TVTodayWidget 
    on Twitter
    %br
    A
    %a{:href => "http://20dots.com"} 20 Dots
    app
